<div class="container">
    <h3 class="bold centered static-page-title">{{ 'FAQ_LONG' | translate }}</h3>
    <div fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="35px">
        <div fxLayout="column"
            fxLayoutGap="35px"
            fxFlex="calc(50%-35px)">
            <div>
                <h2>{{ 'page.faq.section.new.customer' | translate }}</h2>
                <div class="shadow">
                    <mat-accordion class="large">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.create.account' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.create.account.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.pay.order' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.pay.order.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.pay.order.answer2' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.order.restoin' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.order.restoin.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.order.restoin.answer2' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.order.phone' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.order.phone.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.order.phone.answer2' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.preorder.food' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.preorder.food.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.preorder.food.answer2' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.preorder.food.answer3' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.preorder.food.answer4' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.combine.orders' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.combine.orders.answer' | translate }}</span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <div>
                <h2>{{ 'page.faq.section.restaurants' | translate }}</h2>
                <div class="shadow">
                    <mat-accordion class="large">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.join.us' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.join.us.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.benefits.joining.restoin' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul fxLayout="column"
                                fxLayoutGap="10px">
                                <li><span class="fade">{{ 'page.faq.subsection.benefits.joining.restoin.answer1' | translate }}</span></li>
                                <li><span class="fade">{{ 'page.faq.subsection.benefits.joining.restoin.answer2' | translate }}</span></li>
                                <li><span class="fade">{{ 'page.faq.subsection.benefits.joining.restoin.answer3' | translate }}</span></li>
                                <li><span class="fade">{{ 'page.faq.subsection.benefits.joining.restoin.answer4' | translate }}</span></li>
                            </ul>
                        </mat-expansion-panel>


                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.how.long.prepare.food' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.how.long.prepare.food.answer' | translate }}</span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <div>
                <h2>{{ 'page.faq.section.contact' | translate }}</h2>
                <div class="shadow">
                    <mat-accordion class="large">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.how.can.contact' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.how.can.contact.answer' | translate }}</span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <div fxLayout="column"
            fxLayoutGap="35px"
            fxFlex="calc(50%-35px)">
            <div>
                <h2>{{ 'page.faq.section.existing.customer' | translate }}</h2>
                <div class="shadow">
                    <mat-accordion class="large">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.food.allergy' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.food.allergy.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.food.allergy.answer2' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.food.allergy.answer3' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.food.allergy.answer4' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.food.allergy.answer5' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.delayed.delivery' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.delayed.delivery.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.delayed.delivery.answer2' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.rate.food' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.rate.food.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.something.missing.order' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.something.missing.order.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.something.missing.order.answer2' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.something.missing.order.answer3' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.not.received.confirmation.email' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.not.received.confirmation.email.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.not.received.confirmation.email.answer2' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.not.received.confirmation.email.answer3' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.not.received.confirmation.email.answer4' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.meal.unacceptable' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.meal.unacceptable.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.placed.2.orders' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.placed.2.orders.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.order.cancelled' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.order.cancelled.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.money.take.account' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column"
                                fxLayoutGap="10px">
                                <span class="fade">{{ 'page.faq.subsection.take.account.answer1' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.take.account.answer2' | translate }}</span>
                                <span class="fade">{{ 'page.faq.subsection.take.account.answer3' | translate }}</span>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.havent.received.refund' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.havent.received.refund.answer' | translate }}</span>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>{{ 'page.faq.subsection.have.promotion.code' | translate }}</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="fade">{{ 'page.faq.subsection.have.promotion.code.answer' | translate }}</span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
