.mat-autocomplete-panel {
    @include scrollY;

    &.product-search {
        img, .img-placeholder {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }

        .product {
            margin-left: 50px;
        }
    }
}
