#DropinContainer {
    width: 100%;
    margin: 20px 0;

    .braintree-placeholder {
        display: none;
    }

    .braintree-toggle {
        display: none;
    }

    .braintree-sheet__container {
        margin-bottom: 0px;
    }

    .braintree-sheet__error {
        display: none;
    }

    .braintree-card {
        border: 1px solid #B5B5B5;
    }
}
