.thumbnail {
    padding: 30px 0;
    transition: $transition;
    text-align: center;
    cursor: pointer;
    width: 300px;

    @media only screen and (max-width: $sm-maxWidth) {
        width: 200px;
    }

    @media only screen and (max-width: $xs-maxWidth) {
        width: 300px;
        height: auto !important;
    }

    &:hover {
        box-shadow: $shadow;

        button {
            background-color: $themeMainColor;
            border-color: $themeMainColor;
            color: $primaryColor;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .large-circle {
        margin: 20px 0 35px;
    }

    span {
        padding: 0 35px;
        text-align: center;

        @media only screen and (max-width: $sm-maxWidth) {
            padding: 0 15px;
        }
    }
}
