@import "../../../../styles/variables/miscellaneous.scss";
@import "../../../../styles/variables/colors.scss";

.limit-height {
    height: 30vh;
    display: block;
    margin-bottom: 15px;

    @include scrollY;
}
