@import "../../../../../styles/variables/miscellaneous.scss";
@import "../../../../../styles/variables/colors.scss";

mat-selection-list {
    margin-top: 20px;
    height: 50vh;

    @include scrollY;
}
