.main-background {
    height: 100vh;

    .container {
        height: 100vh;
    }

    h3 {
        margin-bottom: 30px;
    }

    h1 {
        margin-bottom: 10px;
        cursor: pointer;
    }
}
