@import "../../../styles/variables/miscellaneous.scss";
@import "../../../styles/variables/responsive.scss";

:host {
    flex: 1;
    flex-basis: auto;
    display: block; // Fallback For IE
    display: contents;
    flex-direction: column;

    .main-background {
        height: 100%;
        flex: 1;
        display: flex;

        @media only screen and (max-width: $xs-maxWidth) {
            background-image: none;
            margin-top: -$headerHeightMobile;
        }
    }

    .container {
        max-width: 365px !important;
        padding: calc(#{$headerHeight} + 80px) 0 80px;

        @media only screen and (max-width: $xs-maxWidth) {
            padding: calc(#{$headerHeightMobile} + 80px) 0 80px;
        }
    }
}
