<div fxLayout="column"
    fxFlex="stretch"
    fxLayoutAlign="center start">
    <h4>{{ 'PAYMENT_CARDS' | translate }}</h4>
    <div *ngIf="!dataLoaded"
        class="spinner-container"
        fxFlex="1 1 auto"
        fxFlexAlign="stretch"
        fxLayout="column"
        fxLayoutAlign="center center">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
    <div *ngIf="dataLoaded && creditCards?.length < 1"
        fxFlex="1 1 auto"
        fxFlexAlign="stretch"
        fxLayout="column"
        fxLayoutAlign="center center">
        <span>{{ 'NO_CARD_REGISTERED' | translate }}</span>
    </div>
    <div *ngIf="dataLoaded && creditCards?.length > 0"
        fxFlex="1 1 auto"
        fxFlexAlign="stretch"
        fxLayout="column"
        fxLayoutAlign="start start"
        class="area-box-list">
        <ri-credit-card-box fxFlexAlign="stretch"
            *ngFor="let creditCard of creditCards"
            [creditCard]="creditCard"
            [allowDelete]="true"
            (creditCardDeleted)="getAllCards()"></ri-credit-card-box>
    </div>
    <button class="wide main-color form-button"
        (click)="add()">{{ '+' | translate }} {{ 'ADD_NEW_CARD' | translate }}</button>
</div>
