@import "../../../../../styles/variables/colors.scss";

.info-img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid $mediumGray;
    background-position: 50% 50%;
    background-size: cover;
}

.info-name {
    text-align: center;
}