@import "../../../../../styles/variables/miscellaneous.scss";
@import "../../../../../styles/variables/colors.scss";

:host {
    .container {
        position: relative;

        #ScrollContainer {
            max-height: 500px;
            margin-right: -20px;
            padding-right: 10px;

            @include scrollY;
        }
    }

    .background-food {
        &.no-bottom {
            bottom: 0;
        }
    }
}
