ri-checkout-cart-dialog {
    h4 {
        padding-bottom: 25px;
        text-align: center;
    }

    ri-disabled-product {
        padding-bottom: 10px;
    }

    #SubTotal {
        padding: 40px 0 10px;
    }
}
