/*
* === PRIMARY ===
*/
$primaryColor: #ffffff;
$primaryNegativeColor: #000000;

/*
* === THEME ===
*/
$themeMainColor: #2D1A4B;
$themeAccentColor: #E61B5C;
$themeSecondaryColor: #fdf7f0;

/*
* === GREY ===
*/
$strongGrey: #4F5362;
$mediumGray: #D3D3D3;
$lightGray: #F4F3F3;

/*
* === OTHER ===
*/
$errorColor: #f44336;
