@import "../../../../../styles/variables/responsive.scss";

:host {
    > div {
        height: 100%;

        button {
            @media only screen and (min-width: $md-minWidth) {
                margin-top: auto;
            }
        }

        .secondary-button {
            padding-top: 10px;
        }
    }
}
