<div fxLayout="column">
    <h4>{{ 'RESET_PASSWORD' | translate }}</h4>
    <span *ngIf="!showRestoreForm"
        class="fade">{{ 'PASSWORD_RECOVERY_INFO_LONG' | translate }}</span>
    <form *ngIf="!showRestoreForm"
        fxLayout="column"
        fxFlex="1 1 auto"
        id="CurrentPasswordForm"
        [formGroup]="currentPasswordForm"
        (ngSubmit)="onCurrentPasswordSubmit()">
        <div fxLayout="row"
            fxLayoutGap="35px"
            fxFlexAlign="stretch">
            <div class="form-control">
                <span class="input-title">{{ 'CURRENT_PASSWORD' | translate }}</span>
                <input [ngClass]="{'invalid' : formValidationService.isFormControlInvalid(currentPasswordForm.controls['password'])}"
                    type="password"
                    formControlName="password"
                    autocomplete="new-password"
                    placeholder="{{ 'RESET_PASSWORD' | translate }}">
                <span [ngClass]="{'hide': formValidationService.isFormControlInvalid(currentPasswordForm.controls['password'])}"
                    class="input-error placeholder"></span>
                <span [ngClass]="{'show': formValidationService.displayError(currentPasswordForm.controls['password'], 'required')}"
                    class="input-error">{{ 'REQUIRED_FIELDS' | translate }}</span>
                <span [ngClass]="{'show': formValidationService.displayError(currentPasswordForm.controls['password'], 'invalidPassword')}"
                    class="input-error">{{ 'INVALID_PASSWORD' | translate }}</span>
            </div>
        </div>
        <span fxFlexAlign="start"
            class="secondary-button"
            (click)="restorePassword()">{{ 'FORGOT_PASS' | translate }}</span>
        <button class="wide main-color"
            type="submit">{{ 'EDIT' | translate }}</button>
    </form>
    <form *ngIf="showRestoreForm"
        fxLayout="column"
        fxFlex="1 1 auto"
        id="NewPasswordForm"
        [formGroup]="newPasswordForm"
        (ngSubmit)="onNewPasswordSubmit()">
        <div class="form-control">
            <span class="input-title">{{ 'EDIT_PASSWORD_PLACEHOLDER_NEW' | translate }}</span>
            <input [ngClass]="{'invalid' : formValidationService.isFormControlInvalid(newPasswordForm.controls['newPassword'])}"
                type="password"
                formControlName="newPassword"
                autocomplete="new-password">
            <span [ngClass]="{'hide': formValidationService.isFormControlInvalid(newPasswordForm.controls['newPassword'])}"
                class="input-error placeholder"></span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['newPassword'], 'required')}"
                class="input-error">{{ 'REQUIRED_FIELDS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['newPassword'], 'minlength')}"
                class="input-error">{{ 'MIN_8_CHARACTERS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['newPassword'], 'custom')}"
                class="input-error">{{ newPasswordForm.controls['newPassword'].errors?.custom }}</span>
        </div>
        <div class="form-control">
            <span class="input-title">{{ 'EDIT_PASSWORD_PLACEHOLDER_REPEAT' | translate }}</span>
            <input [ngClass]="{'invalid' : formValidationService.isFormControlInvalid(newPasswordForm.controls['confirmPassword'])}"
                type="password"
                formControlName="confirmPassword"
                autocomplete="new-password">
            <span [ngClass]="{'hide': formValidationService.isFormControlInvalid(newPasswordForm.controls['confirmPassword'])}"
                class="input-error placeholder"></span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['confirmPassword'], 'required')}"
                class="input-error">{{ 'REQUIRED_FIELDS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['confirmPassword'], 'minlength')}"
                class="input-error">{{ 'MIN_8_CHARACTERS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['confirmPassword'], 'noMatch')}"
                class="input-error">{{ 'PASSWORDS_DONT_MATCH' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(newPasswordForm.controls['confirmPassword'], 'custom')}"
                class="input-error">{{ newPasswordForm.controls['confirmPassword'].errors?.custom }}</span>
        </div>
        <button class="wide main-color"
            type="submit">{{ 'EDIT' | translate }}</button>
    </form>
</div>
