<div class="container template-page-container small"
    fxLayout="column"
    fxLayoutAlign="center center">
    <div class="spinner-container"
        *ngIf="!dataLoaded"
        fxLayout="column"
        fxLayoutAlign="center center">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
    <h2 *ngIf="dataLoaded"
        class="area-title">{{ 'RESET_PASSWORD' | translate }}</h2>
    <form *ngIf="dataLoaded"
        fxLayout="column"
        id="ResetPasswordForm"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onResetPasswordSubmit()">
        <div class="form-control">
            <span class="input-title">{{ 'EDIT_PASSWORD_PLACEHOLDER_NEW' | translate }}</span>
            <input [ngClass]="{'invalid' : formValidationService.isFormControlInvalid(resetPasswordForm.controls['newPassword'])}"
                type="password"
                formControlName="newPassword"
                autocomplete="new-password">
            <span [ngClass]="{'hide': formValidationService.isFormControlInvalid(resetPasswordForm.controls['newPassword'])}"
                class="input-error placeholder"></span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['newPassword'], 'required')}"
                class="input-error">{{ 'REQUIRED_FIELDS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['newPassword'], 'minlength')}"
                class="input-error">{{ 'MIN_8_CHARACTERS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['newPassword'], 'custom')}"
                class="input-error">{{ resetPasswordForm.controls['newPassword'].errors?.custom }}</span>
        </div>
        <div class="form-control">
            <span class="input-title">{{ 'EDIT_PASSWORD_PLACEHOLDER_REPEAT' | translate }}</span>
            <input [ngClass]="{'invalid' : formValidationService.isFormControlInvalid(resetPasswordForm.controls['confirmPassword'])}"
                type="password"
                formControlName="confirmPassword"
                autocomplete="new-password">
            <span [ngClass]="{'hide': formValidationService.isFormControlInvalid(resetPasswordForm.controls['confirmPassword'])}"
                class="input-error placeholder"></span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['confirmPassword'], 'required')}"
                class="input-error">{{ 'REQUIRED_FIELDS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['confirmPassword'], 'minlength')}"
                class="input-error">{{ 'MIN_8_CHARACTERS' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['confirmPassword'], 'noMatch')}"
                class="input-error">{{ 'PASSWORDS_DONT_MATCH' | translate }}</span>
            <span [ngClass]="{'show': formValidationService.displayError(resetPasswordForm.controls['confirmPassword'], 'custom')}"
                class="input-error">{{ resetPasswordForm.controls['confirmPassword'].errors?.custom }}</span>
        </div>
        <button class="wide main-color"
            type="submit">{{ 'EDIT' | translate }}</button>
    </form>
</div>
<div class="background-food"></div>
